<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        .img-responsive {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/headshot.jpg" class="img-responsive" alt="Your Headshot">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Greetings! I'm Chris, an enthusiastic and driven student deeply engaged in the captivating realms of Computational and
                Applied Mathematics. As an avid learner, I am currently immersed in various projects that showcase my passion for
                exploring the intersections of mathematics and technology. This portfolio serves as a window into some of these
                endeavors. Thank you for taking the time to explore my work. I encourage you to delve into my projects, and feel free to
                connect if you'd like to engage in further discussions.</p>
            </div>
        </div>
    </div>
</section>

</body>
</html>
