<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/headshot.jpg" alt="Your Headshot" class="img-responsive mx-auto d-block" style="width: 150px; margin-bottom: 30px;">                <h2 class="section-heading" style="margin-bottom: 50px;">About Me</h2>
                <hr class="light">
                <p class="text-faded">Greetings! I'm Chris, an enthusiastic and driven student deeply engaged in the captivating realms of Computational and
                Applied Mathematics. As an avid learner, I am currently immersed in various projects that showcase my passion for
                exploring the intersections of mathematics and technology. This portfolio serves as a window into some of these
                endeavors. Thank you for taking the time to explore my work. I encourage you to delve into my projects, and feel free to
                connect if you'd like to engage in further discussions.</p>
            </div>
        </div>
    </div>
</section>
