<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hello! I'm Chris, I have a great intrest in data analytics and business intelligence. With a strong passion for extracting meaningful insights from data, I leverage my technical expertise and industry certifications to deliver impactful solutions.</p>
            </div>
        </div>
    </div>
</section>
