<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ChristopherIanPeck/marine-cargo-risk-analyzer.git" class="portfolio-box">
                    <img src="img/portfolio/marine_cargo_risk_analyzer.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python    SQL    Streamlit
                            </div>
                            <div class="project-name">
                                Marine Cargo Risk Analyzer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ChristopherIanPeck/kaggle_playground_series_s5.git" class="portfolio-box">
                    <img src="img/portfolio/kaggle_playground_series.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python
                            </div>
                            <div class="project-name">
                                Kaggle Playground Series
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ChristopherIanPeck/energy-weather-forecasting.git" class="portfolio-box">
                    <img src="img/portfolio/electricity_weather_project.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python
                            </div>
                            <div class="project-name">
                                Energy Weather Forcasting
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
