<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ChristopherIanPeck/energy-weather-forecasting.git" class="portfolio-box">
                    <img src="img/portfolio/electricity_weather_project.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python
                            </div>
                            <div class="project-name">
                                Energy Weather Forcasting
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ChristopherIanPeck/kaggle_playground_series_s5.git" class="portfolio-box">
                    <img src="img/portfolio/kaggle_playground_series_s5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Season 5
                            </div>
                            <div class="project-name">
                                Kaggle Playground Series
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ChristopherIanPeck/paris_coffeeshop_optimization.git" class="portfolio-box">
                    <img src="img/portfolio/coffee_beans.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python
                            </div>
                            <div class="project-name">
                                Paris CoffeeShop Optimization
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ChristopherIanPeck/covid_19_analysis.git" class="portfolio-box">
                    <img src="img/portfolio/covid19_python.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python
                            </div>
                            <div class="project-name">
                                Covid 19 Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://public.tableau.com/app/profile/christopher.peck8528/viz/GlobalCOVID-19VaccineTracker_16818037313760/GlobalVaccineTracker" class="portfolio-box">
                    <img src="img/portfolio/covid19_tableau.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tableau 
                            </div>
                            <div class="project-name">
                                Global Covid 19 Vaccine Tracker
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
