<section id="reading-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reading List</h2>
                <hr class="primary">
                <p></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3 class="text-center">2025</h3>
                    <ul class="list-unstyled text-center">
                
                <div class="col-lg-6 text-center">
                    <h3 class="text-center">Books</h3>
                    <ul class="list-unstyled text-center">
                        <li>Test</li>

                    </ul>
                </div>
                
                <div class="col-lg-6 text-center">
                    <h3 class="text-center">Audiobooks</h3>
                    <ul class="list-unstyled text-center">
                        <li>Test</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3 class="text-center">2024</h3>
                <hr class="primary">
                
                <div class="col-lg-6 text-center">
                    <h3 class="text-center">Books</h3>
                    <ul class="list-unstyled text-center">
                        <li>Books V. Cigarettes - George Orwell</li>
                        <li>Enchiridion - Epictetus</li>
                        <li>A Mathematicians's Apology - G.H.Hardy</li>
                        <li>Foster - Claire Keegan</li>
                        <li>1984 - George Orwell</li>
                        <li>Small Things Like These - Claire Keegan</li>
                        <li>To Have and Have Not - Ernest Hemingway</li>
                        <li>Red Rising - Pierce Brown</li>
                        <li>A Farewell to Arms - Ernest Hemingway</li>
                        <li>Golden Son - Pierce Brown</li>
                        <li>The Stranger in the Woods - Michael Finkel</li>
                        <li>Thinking in Systems - Donella H. Meadows</li>
                        <li>The Art of Statistics - David Spiegelhalter</li>
                        <li>The Road - Cormac McCarthy</li>
                        <li>The Stranger - Albert Camus</li>
                        <li>Death in Spring - Mercè Rodoreda</li>
                        <li>A Shining - Jon Fosse</li>
                        <li>Michael Kohlhass - Heinrich von Kleist</li>
                        <li>Stoner - John Williams</li>
                        <li>The Strangest Man - Graham Farmelo</li>
                        <li>The 5 Elements of Effective Thinking - Edward B. Burger & Michael Starbird</li>
                        <li>Dark Matter - Blake Crouch</li>
                        <li>The Invention of Nature - Andrea Wulf</li>

                    </ul>
                </div>
                
                <div class="col-lg-6 text-center">
                    <h3 class="text-center">Audiobooks</h3>
                    <ul class="list-unstyled text-center">
                        <li>The 12 Week Year - Brian P. Moran, Michael Lennington</li>
                        <li>Feel Good Productivity - Ali Andal</li>
                        <li>Computational Thinking - Peter J. Denning & Matti Tedre</li>
                        <li>Die with Zero - Bill Perkins</li>
                        <li>A Mind for Numbers - Barbara Oakley</li>
                        <li>Ultralearning - Scott H. Young</li>
                        <li>Get Better at Anything - Scott H. Young</li>
                        <li>Make it Stick - Peter C. Brown</li>
                        <li>The Algebra of Wealth - Scott Galloway</li>
                        <li>Atomic Habits - James Clear</li>
                        <li>Slow Productivity - Cal Newport</li>
                        <li>Geneva - Richard Armitage</li>
                        <li>Math Without Numbers - Milo Beckman</li>
                        <li>Letters to a Young Mathematician - Ian Stewart</li>
                        <li>The Cut - Richard Armitage</li>
                        <li>Deep Work - Cal Newport</li>
                        <li>Four Thousand Weeks - Oliver Burkeman</li>
                        <li>Meditations for Mortals - Oliver Burkeman</li>
                        <li>Hello World - Hannah Fry</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>



