<section id="reading-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reading List 2024</h2>
                <hr class="primary">
                
                <div class="col-lg-6 text-center">
                    <h3 class="text-center">Books</h3>
                    <ul class="list-unstyled text-center">
                        <li>Books V. Cigarettes - George Orwell</li>
                        <li>Enchiridion - Epictetus</li>
                        <li>A Mathematicians's Apology - G.H.Hardy</li>
                        <li>Foster - Claire Keegan</li>
                        <li>1984 - George Orwell</li>
                        <li>Small Things Like These - Claire Keegan</li>
                        <li>To Have and Have Not - Ernest Hemingway</li>
                        <li>Red Rising - Pierce Brown</li>
                    </ul>
                </div>
                
                <div class="col-lg-6 text-center">
                    <h3 class="text-center">Audiobooks</h3>
                    <ul class="list-unstyled text-center">
                        <li>The 12 Week Year - Brian P. Moran, Michael Lennington</li>
                        <li>Feel Good Productivity - Ali Andal</li>
                        <li>Computational Thinking - Peter J. Denning & Matti Tedre</li>
                        <li>A Mind for Numbers - Barbara Oakley</li>
                        <li>Ultralearning - Scott H. Young</li>
                        <li>Get Better at Anything - Scott H. Young</li>
                        <li>Make it Stick - Peter C. Brown</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>



