<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reading List 2024</h2>
                <hr class="primary">
                
                <div class="col-lg-6 text-center">
                    <h3>Books</h3>
                    <ul>
                        <li>Books V. Cigarettes - George Orwell</li>
                        <li>Enchiridion - Epictetus</li>
                        <li>A Mathematicians's Apology - G.H.Hardy</li>
                        <li>Foster - Claire Keegan</li>
                    </ul>
                </div>
                
                <div class="col-lg-6 text-center">
                    <h3>Audiobooks</h3>
                    <ul>
                        <li>The 12 Week Year - Brian P. Moran, Michael Lennington</li>
                        <li>Feel Good Productivity - Ali Andal</li>
                        <li>Computational Thinking - Peter J. Denning & Matti Tedre</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


